
.iselect-wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1200;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.iselect {
    width: 100%;
    height: 190px;
    bottom: -190px;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: white;
    bottom: 0px;
}

.iselect-options {
    width: 100%;
    height: 150px;
    bottom: 0;
    overflow: hidden;
    position: absolute;
}

.iselect-scroll {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 7;
    text-align: center;
    top: 60px;
}

.iselect-scroll li {
    list-style: none;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}

.iselect-mask1 {

    position: absolute;
    width: 100%;
    height: 60px;
    top: 0px;
    background-color: white;
    opacity: 0.7;
    z-index: 9;
}

.iselect-mask2 {

    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    background-color: white;
    opacity: 0.7;
    z-index: 10;
}

.iselect-toolbar {
    top: 0px;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    background-color: #fcfcfc;
    border-top: 1px solid #ccc;
}

.iselect-toolbar-ok {
    position: absolute;
    right: 12px;
    border-radius: 3px;
    top: 7px;
    padding:3px 6px;
    color: white;
    background-color: #0283FD;
}

.iselect-toolbar-cancel {
    position: absolute;
    left: 12px;
    border-radius: 3px;
    top: 7px;
    padding: 3px 6px;
    color: white;
    background-color: #0283FD;
}