@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input[type=search] {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: #0079ff;
}

html {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  min-height: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body {
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.hide {
  display: none;
}

a, img, input, textarea, button {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  /*
  appearance: none;
  -webkit-appearance: none;
  */
  outline: none;
}
a:active, a:focu, img:active, img:focu, input:active, input:focu, textarea:active, textarea:focu, button:active, button:focu {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.nohighlight {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.section-1px {
  position: relative;
}
.section-1px:before, .section-1px:after {
  border-top: 1px solid #c8c7cc;
  content: ' ';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  pointer-events: none;
}
.section-1px::before {
  top: -1px;
}
.section-1px::after {
  bottom: -1px;
}

.border-1px {
  position: relative;
}
.border-1px::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #c8c7cc;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .section-1px::after, .section-1px::before {
    -webkit-transform: scaleY(0.7);
    -webkit-transform-origin: 0 0;
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
  .section-1px::after {
    -webkit-transform-origin: left bottom;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .section-1px::after, .section-1px::before {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }

  .border-1px::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-transform-origin: 0 0;
  }
}
/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/*下拉选择空间样式*/
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.jmu-border-1px {
  position: relative;
}

.jmu-border-1px:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  content: "";
  pointer-events: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .jmu-border-1px:after {
    right: -100%;
    bottom: -100%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.jmu-border-1px.border-bottom:after {
  border-bottom: 1px solid #cdcdcd;
}

.jmu-border-1px.border-top:after {
  border-top: 1px solid #cdcdcd;
}

.alloy-selector {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  padding: 0;
}

.alloy-selector-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 256px;
  background-color: #fff;
  -webkit-transition: .3s ease-out all;
  transition: .3s ease-out all;
}

.alloy-selector-head {
  overflow: hidden;
  border-color: #bbb;
  padding: 9px;
  height: 44px;
}

.alloy-selector-button {
  display: block;
  float: right;
  width: 50px;
  font-size: 17px;
  line-height: 26px;
  text-align: right;
  color: #1d79eb;
  outline: 0;
}

.alloy-selector-button:focus,
.alloy-selector-button:hover {
  border: 0;
}

.alloy-selector-body {
  overflow: hidden;
  position: relative;
  padding: 0;
  text-align: center;
}

.alloy-selector-line {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 30%;
}

.alloy-selector-line ul {
  list-style: none;
  margin: 91px 0 0 22%;
  padding: 0;
  width: 50%;
  min-height: 256px;
}

.alloy-selector-tline-top {
  display: block;
  position: absolute;
  top: 84px;
  left: 0;
  border-color: #bbb;
  width: 100%;
  height: 0;
  content: "";
}

.alloy-selector-tline-bottom {
  display: block;
  position: absolute;
  top: 119px;
  left: 0;
  border-color: #bbb;
  width: 100%;
  height: 0;
  content: "";
}

.alloy-selector-line ul li {
  height: 33px;
  font-size: 23px;
  white-space: nowrap;
}

.alloy-selector-mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.alloy-selector-submask1 {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 1001;
  width: 100%;
  height: 89px;
  top: 0px;
  left: 0px;
}

.alloy-selector-submask2 {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 1001;
  width: 100%;
  height: 90px;
  top: 122px;
  left: 0px;
}

.alloy-selector-left {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 500px;
  z-index: 1002;
}

.alloy-selector-right {
  position: absolute;
  left: 50%;
  top: 0px;
  width: 50%;
  height: 500px;
  z-index: 1002;
}
